<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.leike.mapper.NotifyMapper">


    <select id="selectNotifyList" resultType="com.leike.pojo.Notify">
        SELECT
	    co.j_id,
	    co.name,
	    co.sex,
	    co.phone,
	    co.email,
	    co.c_id,
	    n.id,
	    n.checktime
        FROM notify n
        LEFT JOIN coach co ON co.j_id=n.j_id
        WHERE
        n.c_id = #{cId}
    </select>

</mapper>