<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.leike.mapper.UserMapper">
    <!--    <insert id="addAdmin">-->
    <!--        insert into admin(name,nickname,password,phone,sex,role,jointime,state)-->
    <!--        values (#{name},#{nickname},#{password},#{phone},#{sex},#{role},#{jointime},#{state})-->
    <!--    </insert>-->

    <!--    <select id="selectAdmin" resultType="com.leike.pojo.Admin">-->
    <!--        select *-->
    <!--        from admin-->
    <!--        where name = #{name} and password = #{password} and role=#{role}-->
    <!--    </select>-->

    <insert id="insertUser">
        INSERT INTO user (name,pic,sex,phone,password,email,jointime)
        VALUE (#{name},#{pic},#{sex},#{phone},#{password},#{email},#{jointime})
    </insert>

    <select id="selectUserListForTerm" resultType="com.leike.pojo.User">
        <bind name="_uId" value="'%'+uId+'%'"/>
        <bind name="_name" value="'%'+name+'%'"/>
        <bind name="_phone" value="'%'+phone+'%'"/>
        <bind name="_sex" value="'%'+sex+'%'"/>
        SELECT *
        FROM user
        <where>
            u_id IN
            (SELECT a.u_id
            FROM (SELECT u_id
            FROM user
            LIMIT #{page},#{limit}) as a)
            <if test="uId != null and uId != ''">
                AND u_id LIKE #{_uId}
            </if>
            <if test="name != null and name != ''">
                AND name LIKE #{_name}
            </if>
            <if test="phone != null and phone != ''">
                AND phone LIKE #{_phone}
            </if>
            <if test="sex != null and sex != ''">
                AND sex LIKE #{_sex}
            </if>
        </where>
    </select>

</mapper>